In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import cm
import os as os
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
import lightgbm as lgb
import scipy as sp
from scipy.special import boxcox1p
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import StratifiedKFold
from scipy.stats import uniform
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from imblearn.under_sampling import *
from imblearn.over_sampling import *
from imblearn.combine import *
from sklearn.impute import SimpleImputer
plt.style.use('seaborn')

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [0]:
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Crime/train.csv',parse_dates=['Dates'])
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Crime/test.csv',parse_dates=['Dates'],index_col='Id')
sample_submission = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Crime/sampleSubmission.csv')

In [3]:
train

                     Dates                Category  ...           X          Y
0      2015-05-13 23:53:00                WARRANTS  ... -122.425892  37.774599
1      2015-05-13 23:53:00          OTHER OFFENSES  ... -122.425892  37.774599
2      2015-05-13 23:33:00          OTHER OFFENSES  ... -122.424363  37.800414
3      2015-05-13 23:30:00           LARCENY/THEFT  ... -122.426995  37.800873
4      2015-05-13 23:30:00           LARCENY/THEFT  ... -122.438738  37.771541
...                    ...                     ...  ...         ...        ...
878044 2003-01-06 00:15:00                 ROBBERY  ... -122.459033  37.714056
878045 2003-01-06 00:01:00           LARCENY/THEFT  ... -122.447364  37.731948
878046 2003-01-06 00:01:00           LARCENY/THEFT  ... -122.403390  37.780266
878047 2003-01-06 00:01:00               VANDALISM  ... -122.390531  37.780607
878048 2003-01-06 00:01:00  FORGERY/COUNTERFEITING  ... -122.394926  37.738212

[878049 rows x 9 columns]

In [4]:
test

                     Dates  DayOfWeek  ...           X          Y
Id                                     ...
0      2015-05-10 23:59:00     Sunday  ... -122.399588  37.735051
1      2015-05-10 23:51:00     Sunday  ... -122.391523  37.732432
2      2015-05-10 23:50:00     Sunday  ... -122.426002  37.792212
3      2015-05-10 23:45:00     Sunday  ... -122.437394  37.721412
4      2015-05-10 23:45:00     Sunday  ... -122.437394  37.721412
...                    ...        ...  ...         ...        ...
884257 2003-01-01 00:01:00  Wednesday  ... -122.408983  37.751987
884258 2003-01-01 00:01:00  Wednesday  ... -122.425342  37.792681
884259 2003-01-01 00:01:00  Wednesday  ... -122.445418  37.712075
884260 2003-01-01 00:01:00  Wednesday  ... -122.387394  37.739479
884261 2003-01-01 00:01:00  Wednesday  ... -122.489714  37.733950

[884262 rows x 6 columns]

In [0]:
test_id=test.index

In [0]:
test_id=pd.DataFrame(test_id)

In [7]:
train.duplicated().sum()

2323

In [8]:
train.drop_duplicates(inplace=True)
train

                     Dates                Category  ...           X          Y
0      2015-05-13 23:53:00                WARRANTS  ... -122.425892  37.774599
1      2015-05-13 23:53:00          OTHER OFFENSES  ... -122.425892  37.774599
2      2015-05-13 23:33:00          OTHER OFFENSES  ... -122.424363  37.800414
3      2015-05-13 23:30:00           LARCENY/THEFT  ... -122.426995  37.800873
4      2015-05-13 23:30:00           LARCENY/THEFT  ... -122.438738  37.771541
...                    ...                     ...  ...         ...        ...
878044 2003-01-06 00:15:00                 ROBBERY  ... -122.459033  37.714056
878045 2003-01-06 00:01:00           LARCENY/THEFT  ... -122.447364  37.731948
878046 2003-01-06 00:01:00           LARCENY/THEFT  ... -122.403390  37.780266
878047 2003-01-06 00:01:00               VANDALISM  ... -122.390531  37.780607
878048 2003-01-06 00:01:00  FORGERY/COUNTERFEITING  ... -122.394926  37.738212

[875726 rows x 9 columns]

In [0]:
outlier=[660485, 660711, 660712, 661106, 666430, 667042, 669946, 671709,
            673078, 673114, 673115, 673510, 674043, 675070, 675073, 675288,
            675540, 677036, 677260, 677268, 677828, 678326, 678539, 678540,
            679643, 682780, 683862, 684406, 685719, 685720, 686997, 687519,
            687527, 688950, 692258, 712309, 719993, 727080, 754828, 756059,
            759292, 759397, 767318, 767501, 767502, 772415, 772431, 773159,
            783919, 788574, 788575, 789255, 798834, 823378, 833362, 833921,
            839585, 842259, 842261, 842434, 842435, 842828, 844995, 845842,
            852880, 857248, 871198]

In [10]:
len(outlier)

67

In [11]:
train=train.drop(index=outlier)
train

                     Dates                Category  ...           X          Y
0      2015-05-13 23:53:00                WARRANTS  ... -122.425892  37.774599
1      2015-05-13 23:53:00          OTHER OFFENSES  ... -122.425892  37.774599
2      2015-05-13 23:33:00          OTHER OFFENSES  ... -122.424363  37.800414
3      2015-05-13 23:30:00           LARCENY/THEFT  ... -122.426995  37.800873
4      2015-05-13 23:30:00           LARCENY/THEFT  ... -122.438738  37.771541
...                    ...                     ...  ...         ...        ...
878044 2003-01-06 00:15:00                 ROBBERY  ... -122.459033  37.714056
878045 2003-01-06 00:01:00           LARCENY/THEFT  ... -122.447364  37.731948
878046 2003-01-06 00:01:00           LARCENY/THEFT  ... -122.403390  37.780266
878047 2003-01-06 00:01:00               VANDALISM  ... -122.390531  37.780607
878048 2003-01-06 00:01:00  FORGERY/COUNTERFEITING  ... -122.394926  37.738212

[875659 rows x 9 columns]

In [0]:
def feature_engineering(data):
    data['Date'] = pd.to_datetime(data['Dates'].dt.date,  errors='coerce')
    data['n_days'] = (
        data['Date'] - data['Date'].min()).apply(lambda x: x.days)
    data['Day'] = data['Dates'].dt.day
    data['DayOfWeek'] = data['Dates'].dt.weekday
    data['Month'] = data['Dates'].dt.month
    data['Year'] = data['Dates'].dt.year
    data['Hour'] = data['Dates'].dt.hour
    data['Minute'] = data['Dates'].dt.minute
    data['Block'] = data['Address'].str.contains('block', case=False)
    
    data.drop(columns=['Dates','Date','Address'], inplace=True)
        
    return data

In [13]:
train

                     Dates                Category  ...           X          Y
0      2015-05-13 23:53:00                WARRANTS  ... -122.425892  37.774599
1      2015-05-13 23:53:00          OTHER OFFENSES  ... -122.425892  37.774599
2      2015-05-13 23:33:00          OTHER OFFENSES  ... -122.424363  37.800414
3      2015-05-13 23:30:00           LARCENY/THEFT  ... -122.426995  37.800873
4      2015-05-13 23:30:00           LARCENY/THEFT  ... -122.438738  37.771541
...                    ...                     ...  ...         ...        ...
878044 2003-01-06 00:15:00                 ROBBERY  ... -122.459033  37.714056
878045 2003-01-06 00:01:00           LARCENY/THEFT  ... -122.447364  37.731948
878046 2003-01-06 00:01:00           LARCENY/THEFT  ... -122.403390  37.780266
878047 2003-01-06 00:01:00               VANDALISM  ... -122.390531  37.780607
878048 2003-01-06 00:01:00  FORGERY/COUNTERFEITING  ... -122.394926  37.738212

[875659 rows x 9 columns]

In [14]:
train = feature_engineering(train)
train.drop(columns=['Descript','Resolution'], inplace=True)
test = feature_engineering(test)
train

                      Category  DayOfWeek PdDistrict  ...  Hour  Minute  Block
0                     WARRANTS          2   NORTHERN  ...    23      53  False
1               OTHER OFFENSES          2   NORTHERN  ...    23      53  False
2               OTHER OFFENSES          2   NORTHERN  ...    23      33  False
3                LARCENY/THEFT          2   NORTHERN  ...    23      30   True
4                LARCENY/THEFT          2       PARK  ...    23      30   True
...                        ...        ...        ...  ...   ...     ...    ...
878044                 ROBBERY          0    TARAVAL  ...     0      15  False
878045           LARCENY/THEFT          0  INGLESIDE  ...     0       1   True
878046           LARCENY/THEFT          0   SOUTHERN  ...     0       1  False
878047               VANDALISM          0   SOUTHERN  ...     0       1  False
878048  FORGERY/COUNTERFEITING          0    BAYVIEW  ...     0       1   True

[875659 rows x 12 columns]

In [15]:
test

        DayOfWeek PdDistrict           X          Y  ...  Year  Hour  Minute  Block
Id                                                   ...
0               6    BAYVIEW -122.399588  37.735051  ...  2015    23      59   True
1               6    BAYVIEW -122.391523  37.732432  ...  2015    23      51  False
2               6   NORTHERN -122.426002  37.792212  ...  2015    23      50   True
3               6  INGLESIDE -122.437394  37.721412  ...  2015    23      45   True
4               6  INGLESIDE -122.437394  37.721412  ...  2015    23      45   True
...           ...        ...         ...        ...  ...   ...   ...     ...    ...
884257          2    MISSION -122.408983  37.751987  ...  2003     0       1   True
884258          2   NORTHERN -122.425342  37.792681  ...  2003     0       1   True
884259          2  INGLESIDE -122.445418  37.712075  ...  2003     0       1   True
884260          2    BAYVIEW -122.387394  37.739479  ...  2003     0       1   True
884261          2    TARAVAL -122.489714  37.733950  ...  2003     0       1   True

[884262 rows x 11 columns]

In [16]:
train['PdDistrict'].value_counts()

SOUTHERN      156520
MISSION       119722
NORTHERN      105093
BAYVIEW        89089
CENTRAL        85262
TENDERLOIN     81627
INGLESIDE      78718
TARAVAL        65396
PARK           49159
RICHMOND       45073
Name: PdDistrict, dtype: int64

In [0]:
#PdDistrict , Category 변수를 LableEncoding

le1 = LabelEncoder()
train['PdDistrict'] = le1.fit_transform(train['PdDistrict'])

In [0]:
test['PdDistrict'] = le1.transform(test['PdDistrict'])

In [0]:
le2 = LabelEncoder()
train_x = train.drop(columns=['Category'])
train_y= le2.fit_transform(train['Category'])

In [20]:
train_x

        DayOfWeek  PdDistrict           X          Y  ...  Year  Hour  Minute  Block
0               2           4 -122.425892  37.774599  ...  2015    23      53  False
1               2           4 -122.425892  37.774599  ...  2015    23      53  False
2               2           4 -122.424363  37.800414  ...  2015    23      33  False
3               2           4 -122.426995  37.800873  ...  2015    23      30   True
4               2           5 -122.438738  37.771541  ...  2015    23      30   True
...           ...         ...         ...        ...  ...   ...   ...     ...    ...
878044          0           8 -122.459033  37.714056  ...  2003     0      15  False
878045          0           2 -122.447364  37.731948  ...  2003     0       1   True
878046          0           7 -122.403390  37.780266  ...  2003     0       1  False
878047          0           7 -122.390531  37.780607  ...  2003     0       1  False
878048          0           0 -122.394926  37.738212  ...  2003     0       1   True

[875659 rows x 11 columns]

In [21]:
train_y_d=pd.DataFrame(train_y)
train_y_d.apply(pd.value_counts)

         0
16  174305
21  125943
20   91911
1    76811
7    53919
36   53697
35   44580
37   42137
4    36599
32   31392
19   25669
25   22987
13   16637
12   10592
27    9979
38    8550
23    7446
34    7317
30    4536
28    4379
5     4311
8     4277
24    3132
15    2340
6     2268
17    1899
26    1894
0     1512
18    1207
9     1164
31     508
11     488
2      406
3      289
10     256
29     148
14     146
22      22
33       6

In [22]:
test

        DayOfWeek  PdDistrict           X          Y  ...  Year  Hour  Minute  Block
Id                                                    ...
0               6           0 -122.399588  37.735051  ...  2015    23      59   True
1               6           0 -122.391523  37.732432  ...  2015    23      51  False
2               6           4 -122.426002  37.792212  ...  2015    23      50   True
3               6           2 -122.437394  37.721412  ...  2015    23      45   True
4               6           2 -122.437394  37.721412  ...  2015    23      45   True
...           ...         ...         ...        ...  ...   ...   ...     ...    ...
884257          2           3 -122.408983  37.751987  ...  2003     0       1   True
884258          2           4 -122.425342  37.792681  ...  2003     0       1   True
884259          2           2 -122.445418  37.712075  ...  2003     0       1   True
884260          2           0 -122.387394  37.739479  ...  2003     0       1   True
884261          2           8 -122.489714  37.733950  ...  2003     0       1   True

[884262 rows x 11 columns]

## ENN

In [0]:
# enn_train_x, enn_train_y = EditedNearestNeighbours(kind_sel="mode", n_neighbors=5, random_state=0).fit_sample(train_x, train_y)

In [0]:
# enn_train_x

In [0]:
# enn_X_train=pd.DataFrame(enn_train_x)
# enn_X_train.columns=['DayOfWeek',	'PdDistrict',	'X',	'Y',	'n_days',	'Day',	'Month',	'Year',	'Hour','Minute',	'Block']
# enn_X_train

In [0]:
# enn_y_d=pd.DataFrame(enn_train_y)
# enn_y_d.apply(pd.value_counts)

In [0]:
# enn_y=pd.Series(enn_train_y)
# enn_y.unique()

In [0]:
# from sklearn.model_selection import train_test_split
# enn_X_train, enn_X_valid, enn_y_train, enn_y_valid = train_test_split(enn_X_train, enn_train_y, \
#                                                   test_size=0.2, random_state=42, stratify = enn_train_y) # 안 됨

# Tomek Link

In [46]:
tl=TomekLinks()
tl_train_x,tl_train_y = tl.fit_sample(train_x, train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [47]:
tl_X_train=pd.DataFrame(tl_train_x)
tl_X_train.columns=['DayOfWeek',	'PdDistrict',	'X',	'Y',	'n_days',	'Day',	'Month',	'Year',	'Hour','Minute',	'Block']
tl_X_train

        DayOfWeek  PdDistrict           X  ...  Hour  Minute  Block
0             2.0         4.0 -122.425892  ...  23.0    53.0    0.0
1             2.0         4.0 -122.425892  ...  23.0    53.0    0.0
2             2.0         4.0 -122.424363  ...  23.0    33.0    0.0
3             2.0         4.0 -122.426995  ...  23.0    30.0    1.0
4             2.0         5.0 -122.438738  ...  23.0    30.0    1.0
...           ...         ...         ...  ...   ...     ...    ...
666842        0.0         6.0 -122.472985  ...   0.0    31.0    0.0
666843        0.0         0.0 -122.389769  ...   0.0    20.0    1.0
666844        0.0         0.0 -122.389769  ...   0.0    20.0    1.0
666845        0.0         2.0 -122.447364  ...   0.0     1.0    1.0
666846        0.0         0.0 -122.394926  ...   0.0     1.0    1.0

[666847 rows x 11 columns]

In [48]:
tl_y_d=pd.DataFrame(tl_train_y)
tl_y_d.apply(pd.value_counts)

         0
16  126660
21  100866
20   62537
1    60265
7    49112
36   41874
37   36251
35   29301
4    23396
32   21576
19   20357
25   16108
13   12755
27    9974
38    7401
12    7361
23    6387
34    5848
30    4259
8     3966
5     3759
28    3373
15    2161
24    2003
6     1856
17    1604
26    1375
0     1042
18     956
9      738
11     375
31     369
3      273
2      257
10     214
29     109
14     107
22      16
33       6

In [0]:
## CV model
# %%time
# xgb=XGBClassifier()
# kfold = StratifiedKFold(n_splits=5)
# results = cross_val_score(xgb, tl_X_train, tl_train_y, cv=kfold)
# print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

In [0]:
from sklearn.model_selection import train_test_split
tl_X_train, tl_X_valid, tl_y_train, tl_y_valid = train_test_split(tl_X_train, tl_train_y, \
                                                  test_size=0.2, random_state=42, stratify = tl_train_y)

In [51]:
tl_X_valid=pd.DataFrame(tl_X_valid)
tl_X_valid.columns=['DayOfWeek',	'PdDistrict',	'X',	'Y',	'n_days',	'Day',	'Month',	'Year',	'Hour','Minute',	'Block']
tl_X_valid

        DayOfWeek  PdDistrict           X  ...  Hour  Minute  Block
197312        2.0         7.0 -122.409893  ...  13.0    29.0    1.0
118680        4.0         8.0 -122.474506  ...   0.0     1.0    1.0
533057        3.0         5.0 -122.432311  ...  17.0    30.0    1.0
616693        6.0         3.0 -122.407538  ...   2.0     0.0    0.0
454763        1.0         2.0 -122.448702  ...   0.0    45.0    0.0
...           ...         ...         ...  ...   ...     ...    ...
246408        3.0         9.0 -122.412193  ...   3.0    58.0    1.0
287634        2.0         8.0 -122.468612  ...   9.0    45.0    0.0
329399        1.0         3.0 -122.419561  ...  17.0    45.0    1.0
329297        3.0         1.0 -122.407327  ...   1.0     0.0    1.0
239123        0.0         0.0 -122.392359  ...  23.0     0.0    1.0

[133370 rows x 11 columns]

# XGBoost

In [32]:
# %%time
# xgb_c1 = XGBClassifier(n_estimators=100, n_jobs=-1, learning_rate=0.05, max_depth=10)
# xgb_c1.fit(tl_X_train,tl_y_train, early_stopping_rounds=10,eval_metric='mlogloss',eval_set=[(tl_X_train, tl_y_train), (tl_X_valid, tl_y_valid)])

CPU times: user 30min 13s, sys: 2.25 s, total: 30min 15s
Wall time: 15min 21s

In [0]:
# xgb_c1_pred=xgb_c1.predict_proba(test)

In [3]:
# test_id

In [38]:
# submission=pd.DataFrame(data=xgb_c1_pred)
# submission=pd.concat([test_id,submission],axis=1)
# submission.columns=sample_submission.columns
# submission

              0         1         2   ...        34        35        36
0       0.004204  0.494023  0.002337  ...  0.002430  0.024120  0.012293
1       0.002042  0.087769  0.001805  ...  0.002089  0.018614  0.026103
2       0.006808  0.348222  0.002386  ...  0.003132  0.009214  0.007394
3       0.004650  0.440356  0.002457  ...  0.005534  0.015523  0.009258
4       0.004650  0.440356  0.002457  ...  0.005534  0.015523  0.009258
...          ...       ...       ...  ...       ...       ...       ...
884257  0.001941  0.229078  0.001883  ...  0.024746  0.005403  0.002382
884258  0.002575  0.194538  0.002777  ...  0.091304  0.002672  0.005996
884259  0.002120  0.231482  0.001968  ...  0.055846  0.016874  0.009082
884260  0.007024  0.169818  0.001972  ...  0.042236  0.005073  0.027432
884261  0.002473  0.121151  0.002293  ...  0.054826  0.002495  0.011803

[884262 rows x 37 columns]

In [0]:
# submission.to_csv('/content/drive/My Drive/Colab Notebooks/Crime/Crime_XGB.csv', index=False)

# LGB

In [52]:
%%time
lgb_c2=lgb.LGBMClassifier(boosting_type='gbdt',num_leaves=50,max_depth=10,n_estimators=200,learning_rate=0.005,objective='multiclass')
lgb_c2.fit(tl_X_train,tl_y_train,early_stopping_rounds=10,eval_metric='logloss',eval_set=[(tl_X_train, tl_y_train), (tl_X_valid, tl_y_valid)])

[1]	training's multi_logloss: 2.69257	training's multi_logloss: 2.69257	valid_1's multi_logloss: 2.69325	valid_1's multi_logloss: 2.69325
Training until validation scores don't improve for 10 rounds.
[2]	training's multi_logloss: 2.6889	training's multi_logloss: 2.6889	valid_1's multi_logloss: 2.69003	valid_1's multi_logloss: 2.69003
[3]	training's multi_logloss: 2.68552	training's multi_logloss: 2.68552	valid_1's multi_logloss: 2.68701	valid_1's multi_logloss: 2.68701
[4]	training's multi_logloss: 2.6823	training's multi_logloss: 2.6823	valid_1's multi_logloss: 2.68411	valid_1's multi_logloss: 2.68411
[5]	training's multi_logloss: 2.67925	training's multi_logloss: 2.67925	valid_1's multi_logloss: 2.68137	valid_1's multi_logloss: 2.68137
[6]	training's multi_logloss: 2.6763	training's multi_logloss: 2.6763	valid_1's multi_logloss: 2.6787	valid_1's multi_logloss: 2.6787
[7]	training's multi_logloss: 2.67341	training's multi_logloss: 2.67341	valid_1's multi_logloss: 2.67606	valid_1's multi_logloss: 2.67606
[8]	training's multi_logloss: 2.67062	training's multi_logloss: 2.67062	valid_1's multi_logloss: 2.67352	valid_1's multi_logloss: 2.67352
[9]	training's multi_logloss: 2.66789	training's multi_logloss: 2.66789	valid_1's multi_logloss: 2.67102	valid_1's multi_logloss: 2.67102
[10]	training's multi_logloss: 2.66522	training's multi_logloss: 2.66522	valid_1's multi_logloss: 2.66859	valid_1's multi_logloss: 2.66859
[11]	training's multi_logloss: 2.66261	training's multi_logloss: 2.66261	valid_1's multi_logloss: 2.66621	valid_1's multi_logloss: 2.66621
[12]	training's multi_logloss: 2.66005	training's multi_logloss: 2.66005	valid_1's multi_logloss: 2.66387	valid_1's multi_logloss: 2.66387
[13]	training's multi_logloss: 2.65755	training's multi_logloss: 2.65755	valid_1's multi_logloss: 2.66158	valid_1's multi_logloss: 2.66158
[14]	training's multi_logloss: 2.65512	training's multi_logloss: 2.65512	valid_1's multi_logloss: 2.65934	valid_1's multi_logloss: 2.65934
[15]	training's multi_logloss: 2.65272	training's multi_logloss: 2.65272	valid_1's multi_logloss: 2.65715	valid_1's multi_logloss: 2.65715
[16]	training's multi_logloss: 2.65039	training's multi_logloss: 2.65039	valid_1's multi_logloss: 2.655	valid_1's multi_logloss: 2.655
[17]	training's multi_logloss: 2.64808	training's multi_logloss: 2.64808	valid_1's multi_logloss: 2.65288	valid_1's multi_logloss: 2.65288
[18]	training's multi_logloss: 2.64581	training's multi_logloss: 2.64581	valid_1's multi_logloss: 2.6508	valid_1's multi_logloss: 2.6508
[19]	training's multi_logloss: 2.64359	training's multi_logloss: 2.64359	valid_1's multi_logloss: 2.64874	valid_1's multi_logloss: 2.64874
[20]	training's multi_logloss: 2.64142	training's multi_logloss: 2.64142	valid_1's multi_logloss: 2.64673	valid_1's multi_logloss: 2.64673
[21]	training's multi_logloss: 2.63927	training's multi_logloss: 2.63927	valid_1's multi_logloss: 2.64476	valid_1's multi_logloss: 2.64476
[22]	training's multi_logloss: 2.63716	training's multi_logloss: 2.63716	valid_1's multi_logloss: 2.64281	valid_1's multi_logloss: 2.64281
[23]	training's multi_logloss: 2.63508	training's multi_logloss: 2.63508	valid_1's multi_logloss: 2.64088	valid_1's multi_logloss: 2.64088
[24]	training's multi_logloss: 2.63303	training's multi_logloss: 2.63303	valid_1's multi_logloss: 2.63899	valid_1's multi_logloss: 2.63899
[25]	training's multi_logloss: 2.63101	training's multi_logloss: 2.63101	valid_1's multi_logloss: 2.63712	valid_1's multi_logloss: 2.63712
[26]	training's multi_logloss: 2.62902	training's multi_logloss: 2.62902	valid_1's multi_logloss: 2.63528	valid_1's multi_logloss: 2.63528
[27]	training's multi_logloss: 2.62704	training's multi_logloss: 2.62704	valid_1's multi_logloss: 2.63346	valid_1's multi_logloss: 2.63346
[28]	training's multi_logloss: 2.62509	training's multi_logloss: 2.62509	valid_1's multi_logloss: 2.63166	valid_1's multi_logloss: 2.63166
[29]	training's multi_logloss: 2.62316	training's multi_logloss: 2.62316	valid_1's multi_logloss: 2.62988	valid_1's multi_logloss: 2.62988
[30]	training's multi_logloss: 2.62124	training's multi_logloss: 2.62124	valid_1's multi_logloss: 2.62812	valid_1's multi_logloss: 2.62812
[31]	training's multi_logloss: 2.61937	training's multi_logloss: 2.61937	valid_1's multi_logloss: 2.6264	valid_1's multi_logloss: 2.6264
[32]	training's multi_logloss: 2.61751	training's multi_logloss: 2.61751	valid_1's multi_logloss: 2.62469	valid_1's multi_logloss: 2.62469
[33]	training's multi_logloss: 2.61567	training's multi_logloss: 2.61567	valid_1's multi_logloss: 2.623	valid_1's multi_logloss: 2.623
[34]	training's multi_logloss: 2.61386	training's multi_logloss: 2.61386	valid_1's multi_logloss: 2.62133	valid_1's multi_logloss: 2.62133
[35]	training's multi_logloss: 2.61207	training's multi_logloss: 2.61207	valid_1's multi_logloss: 2.61967	valid_1's multi_logloss: 2.61967
[36]	training's multi_logloss: 2.61029	training's multi_logloss: 2.61029	valid_1's multi_logloss: 2.61804	valid_1's multi_logloss: 2.61804
[37]	training's multi_logloss: 2.60853	training's multi_logloss: 2.60853	valid_1's multi_logloss: 2.61642	valid_1's multi_logloss: 2.61642
[38]	training's multi_logloss: 2.60678	training's multi_logloss: 2.60678	valid_1's multi_logloss: 2.61481	valid_1's multi_logloss: 2.61481
[39]	training's multi_logloss: 2.60506	training's multi_logloss: 2.60506	valid_1's multi_logloss: 2.61323	valid_1's multi_logloss: 2.61323
[40]	training's multi_logloss: 2.60335	training's multi_logloss: 2.60335	valid_1's multi_logloss: 2.61165	valid_1's multi_logloss: 2.61165
[41]	training's multi_logloss: 2.60165	training's multi_logloss: 2.60165	valid_1's multi_logloss: 2.61009	valid_1's multi_logloss: 2.61009
[42]	training's multi_logloss: 2.59996	training's multi_logloss: 2.59996	valid_1's multi_logloss: 2.60854	valid_1's multi_logloss: 2.60854
[43]	training's multi_logloss: 2.59828	training's multi_logloss: 2.59828	valid_1's multi_logloss: 2.60699	valid_1's multi_logloss: 2.60699
[44]	training's multi_logloss: 2.59663	training's multi_logloss: 2.59663	valid_1's multi_logloss: 2.60547	valid_1's multi_logloss: 2.60547
[45]	training's multi_logloss: 2.59501	training's multi_logloss: 2.59501	valid_1's multi_logloss: 2.60396	valid_1's multi_logloss: 2.60396
[46]	training's multi_logloss: 2.59339	training's multi_logloss: 2.59339	valid_1's multi_logloss: 2.60247	valid_1's multi_logloss: 2.60247
[47]	training's multi_logloss: 2.59177	training's multi_logloss: 2.59177	valid_1's multi_logloss: 2.60099	valid_1's multi_logloss: 2.60099
[48]	training's multi_logloss: 2.59018	training's multi_logloss: 2.59018	valid_1's multi_logloss: 2.59952	valid_1's multi_logloss: 2.59952
[49]	training's multi_logloss: 2.58861	training's multi_logloss: 2.58861	valid_1's multi_logloss: 2.59808	valid_1's multi_logloss: 2.59808
[50]	training's multi_logloss: 2.58705	training's multi_logloss: 2.58705	valid_1's multi_logloss: 2.59664	valid_1's multi_logloss: 2.59664
[51]	training's multi_logloss: 2.58549	training's multi_logloss: 2.58549	valid_1's multi_logloss: 2.59522	valid_1's multi_logloss: 2.59522
[52]	training's multi_logloss: 2.58395	training's multi_logloss: 2.58395	valid_1's multi_logloss: 2.59381	valid_1's multi_logloss: 2.59381
[53]	training's multi_logloss: 2.58244	training's multi_logloss: 2.58244	valid_1's multi_logloss: 2.59242	valid_1's multi_logloss: 2.59242
[54]	training's multi_logloss: 2.58093	training's multi_logloss: 2.58093	valid_1's multi_logloss: 2.59103	valid_1's multi_logloss: 2.59103
[55]	training's multi_logloss: 2.57943	training's multi_logloss: 2.57943	valid_1's multi_logloss: 2.58966	valid_1's multi_logloss: 2.58966
[56]	training's multi_logloss: 2.57795	training's multi_logloss: 2.57795	valid_1's multi_logloss: 2.58831	valid_1's multi_logloss: 2.58831
[57]	training's multi_logloss: 2.57648	training's multi_logloss: 2.57648	valid_1's multi_logloss: 2.58696	valid_1's multi_logloss: 2.58696
[58]	training's multi_logloss: 2.57501	training's multi_logloss: 2.57501	valid_1's multi_logloss: 2.58561	valid_1's multi_logloss: 2.58561
[59]	training's multi_logloss: 2.57355	training's multi_logloss: 2.57355	valid_1's multi_logloss: 2.58429	valid_1's multi_logloss: 2.58429
[60]	training's multi_logloss: 2.57212	training's multi_logloss: 2.57212	valid_1's multi_logloss: 2.58298	valid_1's multi_logloss: 2.58298
[61]	training's multi_logloss: 2.57069	training's multi_logloss: 2.57069	valid_1's multi_logloss: 2.58167	valid_1's multi_logloss: 2.58167
[62]	training's multi_logloss: 2.56928	training's multi_logloss: 2.56928	valid_1's multi_logloss: 2.58039	valid_1's multi_logloss: 2.58039
[63]	training's multi_logloss: 2.56787	training's multi_logloss: 2.56787	valid_1's multi_logloss: 2.5791	valid_1's multi_logloss: 2.5791
[64]	training's multi_logloss: 2.56646	training's multi_logloss: 2.56646	valid_1's multi_logloss: 2.57783	valid_1's multi_logloss: 2.57783
[65]	training's multi_logloss: 2.56508	training's multi_logloss: 2.56508	valid_1's multi_logloss: 2.57657	valid_1's multi_logloss: 2.57657
[66]	training's multi_logloss: 2.5637	training's multi_logloss: 2.5637	valid_1's multi_logloss: 2.57531	valid_1's multi_logloss: 2.57531
[67]	training's multi_logloss: 2.56233	training's multi_logloss: 2.56233	valid_1's multi_logloss: 2.57406	valid_1's multi_logloss: 2.57406
[68]	training's multi_logloss: 2.56097	training's multi_logloss: 2.56097	valid_1's multi_logloss: 2.57282	valid_1's multi_logloss: 2.57282
[69]	training's multi_logloss: 2.55962	training's multi_logloss: 2.55962	valid_1's multi_logloss: 2.57159	valid_1's multi_logloss: 2.57159
[70]	training's multi_logloss: 2.55828	training's multi_logloss: 2.55828	valid_1's multi_logloss: 2.57037	valid_1's multi_logloss: 2.57037
[71]	training's multi_logloss: 2.55696	training's multi_logloss: 2.55696	valid_1's multi_logloss: 2.56916	valid_1's multi_logloss: 2.56916
[72]	training's multi_logloss: 2.55563	training's multi_logloss: 2.55563	valid_1's multi_logloss: 2.56795	valid_1's multi_logloss: 2.56795
[73]	training's multi_logloss: 2.55433	training's multi_logloss: 2.55433	valid_1's multi_logloss: 2.56676	valid_1's multi_logloss: 2.56676
[74]	training's multi_logloss: 2.55304	training's multi_logloss: 2.55304	valid_1's multi_logloss: 2.56558	valid_1's multi_logloss: 2.56558
[75]	training's multi_logloss: 2.55174	training's multi_logloss: 2.55174	valid_1's multi_logloss: 2.5644	valid_1's multi_logloss: 2.5644
[76]	training's multi_logloss: 2.55046	training's multi_logloss: 2.55046	valid_1's multi_logloss: 2.56324	valid_1's multi_logloss: 2.56324
[77]	training's multi_logloss: 2.5492	training's multi_logloss: 2.5492	valid_1's multi_logloss: 2.56208	valid_1's multi_logloss: 2.56208
[78]	training's multi_logloss: 2.54794	training's multi_logloss: 2.54794	valid_1's multi_logloss: 2.56093	valid_1's multi_logloss: 2.56093
[79]	training's multi_logloss: 2.5467	training's multi_logloss: 2.5467	valid_1's multi_logloss: 2.5598	valid_1's multi_logloss: 2.5598
[80]	training's multi_logloss: 2.54545	training's multi_logloss: 2.54545	valid_1's multi_logloss: 2.55866	valid_1's multi_logloss: 2.55866
[81]	training's multi_logloss: 2.54422	training's multi_logloss: 2.54422	valid_1's multi_logloss: 2.55754	valid_1's multi_logloss: 2.55754
[82]	training's multi_logloss: 2.54301	training's multi_logloss: 2.54301	valid_1's multi_logloss: 2.55643	valid_1's multi_logloss: 2.55643
[83]	training's multi_logloss: 2.54179	training's multi_logloss: 2.54179	valid_1's multi_logloss: 2.55532	valid_1's multi_logloss: 2.55532
[84]	training's multi_logloss: 2.54057	training's multi_logloss: 2.54057	valid_1's multi_logloss: 2.55422	valid_1's multi_logloss: 2.55422
[85]	training's multi_logloss: 2.53939	training's multi_logloss: 2.53939	valid_1's multi_logloss: 2.55314	valid_1's multi_logloss: 2.55314
[86]	training's multi_logloss: 2.5382	training's multi_logloss: 2.5382	valid_1's multi_logloss: 2.55206	valid_1's multi_logloss: 2.55206
[87]	training's multi_logloss: 2.53702	training's multi_logloss: 2.53702	valid_1's multi_logloss: 2.55099	valid_1's multi_logloss: 2.55099
[88]	training's multi_logloss: 2.53584	training's multi_logloss: 2.53584	valid_1's multi_logloss: 2.54993	valid_1's multi_logloss: 2.54993
[89]	training's multi_logloss: 2.53469	training's multi_logloss: 2.53469	valid_1's multi_logloss: 2.54888	valid_1's multi_logloss: 2.54888
[90]	training's multi_logloss: 2.53353	training's multi_logloss: 2.53353	valid_1's multi_logloss: 2.54783	valid_1's multi_logloss: 2.54783
[91]	training's multi_logloss: 2.53239	training's multi_logloss: 2.53239	valid_1's multi_logloss: 2.54679	valid_1's multi_logloss: 2.54679
[92]	training's multi_logloss: 2.53124	training's multi_logloss: 2.53124	valid_1's multi_logloss: 2.54575	valid_1's multi_logloss: 2.54575
[93]	training's multi_logloss: 2.53012	training's multi_logloss: 2.53012	valid_1's multi_logloss: 2.54473	valid_1's multi_logloss: 2.54473
[94]	training's multi_logloss: 2.52899	training's multi_logloss: 2.52899	valid_1's multi_logloss: 2.54372	valid_1's multi_logloss: 2.54372
[95]	training's multi_logloss: 2.52787	training's multi_logloss: 2.52787	valid_1's multi_logloss: 2.5427	valid_1's multi_logloss: 2.5427
[96]	training's multi_logloss: 2.52677	training's multi_logloss: 2.52677	valid_1's multi_logloss: 2.5417	valid_1's multi_logloss: 2.5417
[97]	training's multi_logloss: 2.52567	training's multi_logloss: 2.52567	valid_1's multi_logloss: 2.5407	valid_1's multi_logloss: 2.5407
[98]	training's multi_logloss: 2.52457	training's multi_logloss: 2.52457	valid_1's multi_logloss: 2.53971	valid_1's multi_logloss: 2.53971
[99]	training's multi_logloss: 2.52347	training's multi_logloss: 2.52347	valid_1's multi_logloss: 2.53872	valid_1's multi_logloss: 2.53872
[100]	training's multi_logloss: 2.52238	training's multi_logloss: 2.52238	valid_1's multi_logloss: 2.53773	valid_1's multi_logloss: 2.53773
[101]	training's multi_logloss: 2.52131	training's multi_logloss: 2.52131	valid_1's multi_logloss: 2.53677	valid_1's multi_logloss: 2.53677
[102]	training's multi_logloss: 2.52023	training's multi_logloss: 2.52023	valid_1's multi_logloss: 2.5358	valid_1's multi_logloss: 2.5358
[103]	training's multi_logloss: 2.51916	training's multi_logloss: 2.51916	valid_1's multi_logloss: 2.53484	valid_1's multi_logloss: 2.53484
[104]	training's multi_logloss: 2.5181	training's multi_logloss: 2.5181	valid_1's multi_logloss: 2.53389	valid_1's multi_logloss: 2.53389
[105]	training's multi_logloss: 2.51705	training's multi_logloss: 2.51705	valid_1's multi_logloss: 2.53295	valid_1's multi_logloss: 2.53295
[106]	training's multi_logloss: 2.51601	training's multi_logloss: 2.51601	valid_1's multi_logloss: 2.53201	valid_1's multi_logloss: 2.53201
[107]	training's multi_logloss: 2.51498	training's multi_logloss: 2.51498	valid_1's multi_logloss: 2.53108	valid_1's multi_logloss: 2.53108
[108]	training's multi_logloss: 2.51395	training's multi_logloss: 2.51395	valid_1's multi_logloss: 2.53015	valid_1's multi_logloss: 2.53015
[109]	training's multi_logloss: 2.51293	training's multi_logloss: 2.51293	valid_1's multi_logloss: 2.52922	valid_1's multi_logloss: 2.52922
[110]	training's multi_logloss: 2.51191	training's multi_logloss: 2.51191	valid_1's multi_logloss: 2.5283	valid_1's multi_logloss: 2.5283
[111]	training's multi_logloss: 2.51089	training's multi_logloss: 2.51089	valid_1's multi_logloss: 2.52738	valid_1's multi_logloss: 2.52738
[112]	training's multi_logloss: 2.50989	training's multi_logloss: 2.50989	valid_1's multi_logloss: 2.52647	valid_1's multi_logloss: 2.52647
[113]	training's multi_logloss: 2.50888	training's multi_logloss: 2.50888	valid_1's multi_logloss: 2.52557	valid_1's multi_logloss: 2.52557
[114]	training's multi_logloss: 2.5079	training's multi_logloss: 2.5079	valid_1's multi_logloss: 2.52467	valid_1's multi_logloss: 2.52467
[115]	training's multi_logloss: 2.5069	training's multi_logloss: 2.5069	valid_1's multi_logloss: 2.52378	valid_1's multi_logloss: 2.52378
[116]	training's multi_logloss: 2.50592	training's multi_logloss: 2.50592	valid_1's multi_logloss: 2.5229	valid_1's multi_logloss: 2.5229
[117]	training's multi_logloss: 2.50494	training's multi_logloss: 2.50494	valid_1's multi_logloss: 2.52202	valid_1's multi_logloss: 2.52202
[118]	training's multi_logloss: 2.50397	training's multi_logloss: 2.50397	valid_1's multi_logloss: 2.52115	valid_1's multi_logloss: 2.52115
[119]	training's multi_logloss: 2.50301	training's multi_logloss: 2.50301	valid_1's multi_logloss: 2.52027	valid_1's multi_logloss: 2.52027
[120]	training's multi_logloss: 2.50205	training's multi_logloss: 2.50205	valid_1's multi_logloss: 2.51941	valid_1's multi_logloss: 2.51941
[121]	training's multi_logloss: 2.50109	training's multi_logloss: 2.50109	valid_1's multi_logloss: 2.51854	valid_1's multi_logloss: 2.51854
[122]	training's multi_logloss: 2.50014	training's multi_logloss: 2.50014	valid_1's multi_logloss: 2.51769	valid_1's multi_logloss: 2.51769
[123]	training's multi_logloss: 2.4992	training's multi_logloss: 2.4992	valid_1's multi_logloss: 2.51684	valid_1's multi_logloss: 2.51684
[124]	training's multi_logloss: 2.49826	training's multi_logloss: 2.49826	valid_1's multi_logloss: 2.51599	valid_1's multi_logloss: 2.51599
[125]	training's multi_logloss: 2.49733	training's multi_logloss: 2.49733	valid_1's multi_logloss: 2.51516	valid_1's multi_logloss: 2.51516
[126]	training's multi_logloss: 2.49641	training's multi_logloss: 2.49641	valid_1's multi_logloss: 2.51432	valid_1's multi_logloss: 2.51432
[127]	training's multi_logloss: 2.49547	training's multi_logloss: 2.49547	valid_1's multi_logloss: 2.51348	valid_1's multi_logloss: 2.51348
[128]	training's multi_logloss: 2.49455	training's multi_logloss: 2.49455	valid_1's multi_logloss: 2.51264	valid_1's multi_logloss: 2.51264
[129]	training's multi_logloss: 2.49362	training's multi_logloss: 2.49362	valid_1's multi_logloss: 2.5118	valid_1's multi_logloss: 2.5118
[130]	training's multi_logloss: 2.49272	training's multi_logloss: 2.49272	valid_1's multi_logloss: 2.51099	valid_1's multi_logloss: 2.51099
[131]	training's multi_logloss: 2.49181	training's multi_logloss: 2.49181	valid_1's multi_logloss: 2.51017	valid_1's multi_logloss: 2.51017
[132]	training's multi_logloss: 2.49091	training's multi_logloss: 2.49091	valid_1's multi_logloss: 2.50935	valid_1's multi_logloss: 2.50935
[133]	training's multi_logloss: 2.49001	training's multi_logloss: 2.49001	valid_1's multi_logloss: 2.50854	valid_1's multi_logloss: 2.50854
[134]	training's multi_logloss: 2.48912	training's multi_logloss: 2.48912	valid_1's multi_logloss: 2.50774	valid_1's multi_logloss: 2.50774
[135]	training's multi_logloss: 2.48823	training's multi_logloss: 2.48823	valid_1's multi_logloss: 2.50693	valid_1's multi_logloss: 2.50693
[136]	training's multi_logloss: 2.48734	training's multi_logloss: 2.48734	valid_1's multi_logloss: 2.50613	valid_1's multi_logloss: 2.50613
[137]	training's multi_logloss: 2.48646	training's multi_logloss: 2.48646	valid_1's multi_logloss: 2.50534	valid_1's multi_logloss: 2.50534
[138]	training's multi_logloss: 2.48558	training's multi_logloss: 2.48558	valid_1's multi_logloss: 2.50455	valid_1's multi_logloss: 2.50455
[139]	training's multi_logloss: 2.48471	training's multi_logloss: 2.48471	valid_1's multi_logloss: 2.50376	valid_1's multi_logloss: 2.50376
[140]	training's multi_logloss: 2.48384	training's multi_logloss: 2.48384	valid_1's multi_logloss: 2.50298	valid_1's multi_logloss: 2.50298
[141]	training's multi_logloss: 2.48297	training's multi_logloss: 2.48297	valid_1's multi_logloss: 2.5022	valid_1's multi_logloss: 2.5022
[142]	training's multi_logloss: 2.48211	training's multi_logloss: 2.48211	valid_1's multi_logloss: 2.50143	valid_1's multi_logloss: 2.50143
[143]	training's multi_logloss: 2.48126	training's multi_logloss: 2.48126	valid_1's multi_logloss: 2.50066	valid_1's multi_logloss: 2.50066

In [0]:
lgb_c2_pred=lgb_c2.predict_proba(test)

In [54]:
submission=pd.DataFrame(data=lgb_c2_pred)
submission=pd.concat([test_id,submission],axis=1)
submission.columns=sample_submission.columns
submission

            Id     ARSON   ASSAULT  ...  VEHICLE THEFT  WARRANTS  WEAPON LAWS
0            0  0.003164  0.136492  ...       0.044871  0.057059     0.016296
1            1  0.003569  0.079030  ...       0.041170  0.065533     0.021413
2            2  0.001369  0.109627  ...       0.041455  0.052139     0.010203
3            3  0.002088  0.130508  ...       0.044087  0.055033     0.013628
4            4  0.002088  0.130508  ...       0.044087  0.055033     0.013628
...        ...       ...       ...  ...            ...       ...          ...
884257  884257  0.001315  0.093537  ...       0.068391  0.036423     0.011644
884258  884258  0.001238  0.067783  ...       0.083871  0.032899     0.008012
884259  884259  0.001495  0.086988  ...       0.110506  0.034991     0.011537
884260  884260  0.002280  0.092650  ...       0.086407  0.036079     0.013014
884261  884261  0.001440  0.073053  ...       0.105475  0.033699     0.009737

[884262 rows x 40 columns]

In [0]:
submission.to_csv('/content/drive/My Drive/Colab Notebooks/Crime/Crime_LGB.csv', index=False)
# score : 2.46608